:root {
    --bg-primary: #f5f5f7;
    --content-bg-primary: #eff1f7;
    --bs-white: #fff;
    --bs-gay: #b8c2cc;
    --bs-gay-dark: #1e1e1e;
    --bs-danger: #ea5455;
}

*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body, #app {
    height: 100%;
    width: 100%;
}


a {
    text-decoration: none;
}

.red {
    color: var(--bs-danger);

}

.cursor {
    cursor: pointer;
}